@page "/another"
@inject R4CloThes.Client.Helpers.IUploadImage _uploadImage
@inject ISnackbar Snackbar

<h3>Another</h3>
<InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />

<MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput">
    Upload Files
</MudButton>
<MudButton StartIcon="@Icons.Filled.SaveAlt" Color="Color.Success" OnClick="SaveChange">Lưu thay đổi</MudButton>

<p>Url trả về : @url</p>
@code {
    private string url;
    IList<IBrowserFile> files = new List<IBrowserFile>();

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
            url = await _uploadImage.GetUrlImage(file);
        }
        //TODO upload the files to the server
    }
    private void SaveChange()
    {
        Snackbar.Add("Đã thay đổi record ", Severity.Success);
    }
}
