@page "/GiamGia"
@inject R4CloThes.Client.Helpers.IAPIHelper _apiHelper
@using R4CloThes.Client.Models

<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">R4 CloThes</h6>

        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                <li><button @onclick="() => loaddata(50)">Giảm 50%</button></li>
                <li><button @onclick="() => loaddata(30)">Giảm 30%</button></li>
                <li><button @onclick="() => loaddata(10)">Giảm 10%</button></li>
            </ul>
        </div>
    </div>

    <!-- ##### Single Widget ##### -->
    <div class="widget price mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Price</h6>

        <div class="widget-desc">
            <div class="slider-range">
                <div data-min="10" data-max="1000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="10" data-value-max="1000" data-label-result="">
                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-9 mt-30">
    <div class="m-sm-auto">
        <div class="d-inline-flex">
            <div class="card-group ml-2">
                @for (int i = 0; i < dsspgg.Count; i++)
                {
                    <div class="single-products-catagory clearfix">
                        <a href="/GiamGia/@dsspgg[i].Giamgia">
                            <img src="https://duhocminhkhang.com/wp-content/uploads/2020/01/T%E1%BB%95ng-h%E1%BB%A3p-h%C3%ACnh-%E1%BA%A3nh-g%C3%A1i-xinh-%C4%91eo-m%E1%BA%AFt-k%C3%ADnh-c%E1%BB%B1c-cute-10-1.jpg" alt="">
                            <!-- Hover Content -->
                            <div class="hover-content">
                                <div class="line"></div>
                                <p>Giá: @dsspgg[i].Gia</p>
                                <h4>Tên sản phẩm: @dsspgg[i].Tensanpham</h4>
                                <h4>Số lượt xem: @dsspgg[i].Soluotxem</h4>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <img class="d-block2" src="https://lh3.googleusercontent.com/proxy/COHdSkx08Q1kcTWuXqU4Yhv0Y9v2LSIEga4jhHS1vcgHmywIQ3fknA-YGMXX71tJMuR_9d-MbGC5eijCDLqtBh0-jswrBtZZolml3HcBGLuHNqG6kySD5O3lY5A8RvrFYdWEIYY1WyQv7rym-2WQabgcI1wViSJEjwp6ptvD82kqO_uN" />
</div>