@page "/"
@inject R4CloThes.Client.Helpers.IAPIHelper _apiHelper
@using R4CloThes.Client.Models



<div class="col-9 mt-30">
    <div class="m-sm-auto">
        <div class="text-center">
            <h3 class="h2" style="background-color:#ff6a00; color:aliceblue">Sản phẩm đặt biệt</h3>
            <img src="../wwwroot/4aa41413cd1747bf58c221c31da5b14f copy.png" />
            <p style="color:black">
                Đây là những mặt hàng đang được ưa chuộng nhất hiện nay tại shop
            </p>
        </div>
      
        <div class="d-inline-flex ml-30 ">
            <div class="card-group">
                @for (int i = 0; i < dssp.Count; i++)
                {
                    <div class="single-products-catagory clearfix">
                        <a href="/chitietsanpham/@dssp[i].Masanpham">
                            <img src="https://res.cloudinary.com/r4clothes/image/upload/@dssp[i].Hinh" alt="">
                            <!-- Hover Content -->
                            <div class="hover-content">
                                <div class="line"></div>
                                <p>Giá: @dssp[i].Gia</p>
                                <h4>@dssp[i].Tensanpham</h4>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="text-center">
            <h3 class="h2" style="background-color:#ff6a00; color:aliceblue">Sản phẩm bán chạy</h3>
            <p style="color:black">
                Đây là những mặt hàng bán chạy nhất tại shop.
            </p>
        </div>
    </div>
</div>

